@import '~bootstrap/dist/css/bootstrap.min.css';
@import './variables';
@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $cream;

  .btn {
    background-color: $yellow;

    &:focus {
      background-color: $orange!important;
    }
  }

  .navbar {
    padding: 0;
    background-color: $blue;
    .navbar-brand {
      margin: .2em;
      color: $darkbrown;
    }
    .logout-btn {
      background-color: $orange;
      font-weight: 500;
      right: 2%;
      position: absolute;
    }
  }

  h1 {
    font-size: 35px!important;
    margin: .5em;
  }

  .thead-light {
    background-color: red!important;
  }
}



